.search {
  margin-bottom: 2rem;
  input {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 0.8rem 1.2rem;
    font-size: 1.3rem;
    border: none;
    background: $gray;
    border-radius: 0.5rem;
  }
}
